<!DOCTYPE html>
<html>
<head>
  <title>Broggle</title>
  <%= stylesheet_link_tag    "broggle/application", :media => "all" %>
  <%= javascript_include_tag "broggle/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="">

<%= render 'layouts/broggle/sidebar' %>

<div class="content">
  <%= yield %>
</div>

</body>
</html>
